.grid{
    padding-top: 50px;
    display: grid;
}
.item{
    margin: 5px;
    background: #ffbdbd;
    text-align: center;
    font-size: 1.5em;
}
#griddisplay{
    padding-top: 40px;
    width: 100%;
    text-align: center;
}
.it2{
    background: #18fff7;
}
.it3{
    background: #ff0ae7;
}
.it4{
    background: #fcf808;
}
.grid-columns{
    grid-template-columns: 33vw 33vw 33vw;
}
.grid-rows{
    grid-template-rows: 100px repeat(3, 50px);
    grid-template-columns: 1fr 1fr;
}
.logo{
    grid-area: logo;
}
.nav{
    grid-area: nav;
}
.content{
    grid-area: content;
}
.sidenav{
    grid-area: sidenav;
}
.advert{
    grid-area: advert;
}
.footer{
    grid-area: footer;
}
.grid-areas{
    grid-template-areas:
    "logo nav nav"
    "sidenav content advert"
    "sidenav footer footer"
    ;
}
.grid-template{
    grid-template:
    "logo nav nav" 50px
    "sidenav content advert" 150px
    "sidenav footer footer" 100px
    / 100px 1fr 50px
    ;
}