h1{
    color: rgb(242, 45, 108);
}
.h1_titulo{
    color: rgb(13, 240, 210);
}
#h1_inicial{
    color: rgb(127, 22, 255);
}
.container{
    display: flex;
    flex-direction: row;
}
.div1{
    width: 50%;
    background-color: rgb(141, 121, 168);
}  
.div2{
    width: 50%;
    background-color: rgb(179, 149, 135);
    width: 50%;

}
.titulo_ti{
    text-align: center;
    color: brown;
}