*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #4c00ff;
    background-image: url(../assets/bg-tubarões.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: rgb(0, 177, 225);
    background-color: #fff;
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
}
.gallery-items{
    width: 350px;
    height: 350px;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px #000;
}
.gallery-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-items:hover{
    transform: scale(1.3);
    border: 10px solid #4c00ff;
}
.video{
    background-image: url(../assets/imgbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-width: 10px;
    border-style: outset;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
    padding-top: 90px;
    margin-top: 100px;

}
iframe{
    margin: 20px;
    width: 400px;
    height: 255px;
}
div h1{
    color: rgb(217, 251, 252);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    margin-top: -30px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000a64;
    top: 0;
    position: fixed;
    z-index: 50;
    height: 90px;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px ;
}
.nav-item{
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
    font-weight: 500;
    list-style-type: none;
    color: rgb(143, 177, 255);
}


