.fontcol{
    color: aliceblue;
}
body {
    background-image: url("../img/pexels\ bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}   

h1{
    color: rgb(242, 45, 108);
}
.h1_titulo{
    color: rgb(13, 240, 210);
}
#h1_inicial{
    color: rgb(127, 22, 255);
}
.container{
    display: flex;
    flex-direction: row;
}
.div1{
    box-shadow: 10px 10px 10px rgb(62, 34, 62);
    border-width: 10px;
    border-style: outset;
    border-color: rgb(255, 115, 246);
    padding: 20px;
    margin-right: 10px;
    border-radius: 20px;
    width: 50%;
    height: 300px;
    background-color: rgb(65, 65, 65);
    overflow: auto;
}  
.div2{
    box-shadow: 10px 10px 10px rgb(49, 50, 30);
    border-width: 10px;
    border-style: outset;
    border-color: rgb(231, 255, 135);
    padding: 20px;
    margin-left: 10px;
    border-radius: 20px;
    width: 50%;
    background-color: rgb(65, 65, 65);
    width: 50%;

}
.titulo_ti{
    margin: 0px 500px 0px 500px;
    border-color: blueviolet;
    border-style: double;
    border-radius: 5px;
    border-width: 10px;
    text-align: center;
    color: brown;
}
.div1:hover{
    box-shadow: 10px 10px 10px rgb(255, 138, 255);
}
.div2:hover{
    box-shadow: 10px 10px 10px rgb(250, 255, 160);
}
.titulo_ti:hover{
    color: rgb(170, 120, 218);
}
img1{
    width: 50%;
}
.imgdiv1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}