body{
    background-color: rgb(231, 226, 220) !important;
}
header{
    position: fixed;
    background-color: #e18451;
    height: 100px;
    width: 1920px;

    @media screen and (max-width: 1200px) {
        width: 1200px;
    
    @media screen and (max-width: 992px) {
        width: 992px;
        }
    }
}
.container-header{
    display: flex;
    align-content: center;
    align-items: center;
}
.center-slide{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
conteiner-galeria{
    display: flex;
    flex-direction:row;
}

.objetos-decoracao{
    display: flex;
    flex-direction: column;
}

.conteiner-galeria{
    padding-left: 12vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
  
}
.obj-deco-h1{
    padding-bottom: 10px;
    color: #e18451;
    border: 10px;
    border-radius: 25px;
    background-color: aliceblue;
    text-align: center;
}
.img-conteiner{
    background-color:black;
}
.img-destaque{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 500px;
}

.distanciar{
    margin-right: 500px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    position: absolute;
    left: 85vw;

    @media screen and (max-width: 1200px) {
        left: 75vw;
    @media screen and (max-width: 992px) {
        left: 70vw;
        }
    }
}
.shop-icon{
    width: 1.5vw;
    height: 30px;
    @media screen and (max-width: 1200px) {
        height: 26px;
        width: 2.5vw;
    @media screen and (max-width: 992px) {
        width: 3vw;
        height: 35px;   
        }
    }
}
.outline{
    justify-content: space-evenly;
    background-color: antiquewhite;
    border: 10px;
    border-radius: 20px;
}
.outline2{
    background-color: rgba(250, 235, 215, 0.568) !important;
}



